@model ICollection<AuditLog>
@{
  ViewData["Title"] = "List Logs";
}
@section StyleSheets{
  <link rel="stylesheet" href="~/lib/bootstrap-table/bootstrap-table.min.css">
}
@section Scripts{
  <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
  <script src="~/lib/core-js/core.min.js"></script>
  <script src="~/lib/bootstrap-table/bootstrap-table.min.js"></script>
  <script>
    $(function () {
      $('.values').on('click', (function () {
        var oldVal = JSON.stringify($(this).data('oldvalue'), null, 2);
        var newVal = JSON.stringify($(this).data('newvalue'), null, 2);
        $('#oldValueModal').text(oldVal);
        $('#newValueModal').text(newVal);
      }));
    });
  </script>
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Audit Logs</li>
  </ol>
</nav>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="logs-tab" data-toggle="tab" href="#allLogs" role="tab" aria-controls="allLogs" aria-selected="true">All Logs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="search-tab" data-toggle="tab" href="#searchLogs" role="tab" aria-controls="searchLogs" aria-selected="false">Search By Date</a>
  </li>
</ul>

<div class="tab-content" id="tabContent">

  <div class="tab-pane fade show active" id="allLogs" role="tabpanel" aria-labelledby="logs-tab">
    <table data-toggle="table" data-pagination="true" data-page-size="25">
      <thead>
        <tr>
          <th data-sortable="true">AuditLog ID</th>
          <th data-sortable="true">Timestamp</th>
          <th data-sortable="true">Employee ID</th>
          <th data-sortable="true">Action</th>
          <th data-sortable="true">Resource Type</th>
          <th data-sortable="true">Resource ID</th>
          <th>Old Value</th>
          <th>New Value</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var log in Model)
        {
          <tr>
            <td>@log.AuditLogId</td>
            <td>@log.Timestamp</td>
            <td>@log.EmployeeId</td>
            <td>@log.Action</td>
            <td>@log.ResourceType</td>
            <td>@log.ResourceId</td>
            @if (log.OldValue != null)
            {
              <td><button type="button" class="values btn btn-link" data-oldValue="@log.OldValue" data-newValue="@log.NewValue" data-toggle="modal" data-target="#valuesModal">View</button></td>
              <td><button type="button" class="values btn btn-link" data-oldValue="@log.OldValue" data-newValue="@log.NewValue" data-toggle="modal" data-target="#valuesModal">View</button></td>
            }
            else
            {
              <td></td>
              <td></td>
            }
          </tr>
        }
      </tbody>
    </table>
  </div>

  <div class="modal fade" id="valuesModal" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitle">Old Value / New Value</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col">
                <pre class="prettyprint" id="oldValueModal"></pre>
              </div>
              <div class="col">
                <pre class="prettyprint "id="newValueModal"></pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane fade" id="searchLogs" role="tabpanel" aria-labelledby="search-tab">
    <h1>hi</h1>
    @*<table data-toggle="table" data-pagination="true" data-page-size="25">
        <thead>
          <tr>
            <th data-sortable="true">AuditLog ID</th>
            <th data-sortable="true">Timestamp</th>
            <th data-sortable="true">Employee ID</th>
            <th data-sortable="true">Action</th>
            <th data-sortable="true">Resource Type</th>
            <th data-sortable="true">Resource ID</th>
            <th>Old Value</th>
            <th>New Value</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var log in Model)
          {
            <tr>
              <td>@log.AuditLogId</td>
              <td>@log.Timestamp</td>
              <td>@log.EmployeeId</td>
              <td>@log.Action</td>
              <td>@log.ResourceType</td>
              <td>@log.ResourceId</td>
              <td>@log.OldValue</td>
              <td>@log.NewValue</td>
            </tr>
          }
        </tbody>
      </table>*@
  </div>

</div>
