@model IEnumerable<PAM.Models.Bureau>

@{
  ViewData["Title"] = "Index";
}
<p style="font-size: 40px;">
  Bureaus
  <a asp-action="CreateBureaus" class="btn btn-info float-right">Create New</a>
</p>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Code)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Description)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.BureauType)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.DisplayOrder)
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.BureauType.Code)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.DisplayOrder)
        </td>
        <td>
          <a asp-action="EditBureau" asp-route-id="@item.BureauId">Edit</a> |
          <a asp-action="DetailsBureau" asp-route-id="@item.BureauId">Details</a> |
          <a asp-action="DeleteBureau" asp-route-id="@item.BureauId">Delete</a>
        </td>
      </tr>
    }
  </tbody>
</table>

