@model PAM.Models.Unit

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Unit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bureau)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bureau.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UnitType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnitType.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Parent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Parent.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DisplayOrder)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditUnit" asp-route-id="@Model.UnitId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
