@model IEnumerable<PAM.Models.System>

@{
    ViewData["Title"] = "Index";
}

<h2>Systems</h2>

<p>
    <a asp-action="CreateSystem">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Retired)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Retired)
            </td>
            <td>
                <a asp-action="EditSystem" asp-route-id="@item.SystemId">Edit</a> |
                <a asp-action="DetailsSystem" asp-route-id="@item.SystemId">Details</a> |
                <a asp-action="DeleteSystem" asp-route-id="@item.SystemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
