@{ var identity = (ClaimsIdentity)User.Identity; }
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="~/lib/bootswatch/cerulean/bootstrap.min.css">
  <link rel="stylesheet" href="~/lib/fontawesome-free-5.7.2-web/css/all.min.css">
  <link rel="stylesheet" href="~/css/styles.css">
  @RenderSection("StyleSheets", required: false)
  <title>PAM - @ViewData["Title"]</title>
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a href="/" class="navbar-brand" style="color:gold;">Probation Access Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="requestsMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Requests</a>
          <div class="dropdown-menu" aria-labeledby="requestsMenu">
            <a class="dropdown-item" asp-controller="Request" asp-action="MyRequests">My Requests</a>
            @if ((await AuthorizationService.AuthorizeAsync(User, "IsApprover")).Succeeded)
            {
              <a class="dropdown-item" asp-controller="Review" asp-action="MyReviews">Review Requests</a>
            }
            @if ((await AuthorizationService.AuthorizeAsync(User, "IsProcessor")).Succeeded)
            {
              <a class="dropdown-item" asp-controller="Processing" asp-action="MyProcessings">Process Requests</a>
            }
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="organizationMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Organization</a>
          <div class="dropdown-menu" aria-labeled by="organizationMenu">
            <a class="dropdown-item" asp-controller="Location" asp-action="Locations">Locations</a>
            <a class="dropdown-item" asp-controller="Bureau" asp-action="Bureaus">Bureaus</a>
            <a class="dropdown-item" asp-controller="Unit" asp-action="Units">Units</a>
            <a class="dropdown-item" asp-controller="System" asp-action="Systems">Systems</a>
            <a class="dropdown-item" asp-controller="ProcessingUnit" asp-action="ProcessingUnits">Processing Units</a>
          </div>
        </li>
        @if ((await AuthorizationService.AuthorizeAsync(User, "IsAdmin")).Succeeded)
        {
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="administrationMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administration</a>
            <div class="dropdown-menu" aria-labeled by="administrationMenu">
              <a class="dropdown-item" asp-controller="Employee" asp-action="Employees">Users</a>
              <a class="dropdown-item" asp-controller="AuditLog" asp-action="SearchLog">Audit Log</a>
            </div>
          </li>
        }
        <li class="nav-item">
          <a class="nav-link" asp-controller="Profile" asp-action="ViewProfile">@identity.GetClaim(ClaimTypes.GivenName) @identity.GetClaim(ClaimTypes.Surname)'s Profile</a>
        </li>
      </ul>
      <span class="navbar-text">
        <a class="nav-link" href="javascript:confirmLogout()"><i class="fas fa-sign-out-alt"></i> Logout</a>
      </span>
    </div>
  </nav>
  <!-- Main Content -->
  <div class="container">
    <div class="main-content m-3">
      @RenderBody()
    </div>
  </div>
  <!-- Footer -->
  <footer class="p-3 text-center">&copy; Copyright 2018-2019. Los Angeles County.</footer>
  <!-- Scripts -->
  <script src="~/lib/jquery/jquery.min.js"></script>
  <script src="~/lib/popper.js/umd/popper.min.js"></script>
  <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
  <script>
    function confirmLogout() {
      var msg = "Are you sure you want to logout?";
      if (confirm(msg))
        window.location.href = "@Context.Request.PathBase/Account/Logout/";
    }
  </script>
  @RenderSection("Scripts", required: false)
</body>
</html>
