<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Request" asp-action="MyRequests">My Requests</a></li>
    <li class="breadcrumb-item active" aria-current="page">Request #@ViewData["id"]</li>
  </ol>
</nav>

<partial name="../Shared/_ProgressBar1.cshtml" />

<div class="row mb-3">
  <div class="col-6">
    <a asp-controller="Request" asp-action="MyRequests" class="btn btn-secondary">Back to Drafts</a>
  </div>
  <div class="col-6 text-right">
    <a asp-controller="Request" asp-action="SubmitRequest" asp-route-id="@ViewData["id"]" class="btn btn-primary">Submit Request</a>
  </div>
</div>

<div class="card">
  <div class="card-header">Request Information</div>
  <div class="card-body">
    <div class="row">
      <div class="form-group col-md-6">
        <label>Request Id</label>
        <span class="form-control">@Model.RequestId</span>
      </div>
      <div class="form-group col-md-6">
        <label>Request Type</label>
        <span class="form-control">@Model.RequestType.DisplayCode</span>
      </div>
    </div>
    @if (!Model.IsSelfRequest)
    {
      <div class="row">
        <div class="form-group">
          <label>Prepared By</label>
          <span class="form-control">@Model.RequestedBy.Name</span>
        </div>
      </div>
    }
  </div>
</div>

<div class="card">
  <div class="card-header">
    Requester Information
    <a class="float-right" asp-action="RequesterInfo" asp-route-id="@ViewData["id"]"><i class="fas fa-edit"></i></a>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="form-group col-md-6">
        <label>First Name</label>
        <span class="form-control">@Model.RequestedFor.FirstName</span>
      </div>
      <div class="form-group col-md-6">
        <label>Last Name</label>
        <span class="form-control">@Model.RequestedFor.LastName</span>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label>Department</label>
        <span class="form-control">@Model.RequestedFor.Department</span>
      </div>
      <div class="form-group col-md-6">
        <label>Service</label>
        <span class="form-control">@Model.RequestedFor.Service</span>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label>Title</label>
        <span class="form-control">@Model.RequestedFor.Title</span>
      </div>
      <div class="form-group col-md-6">
        <label>Email</label>
        <span class="form-control">@Model.RequestedFor.Email</span>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label>Department</label>
        <span class="form-control">@Model.RequestedFor.Department</span>
      </div>
      <div class="form-group col-md-6">
        <label>Service</label>
        <span class="form-control">@Model.RequestedFor.Service</span>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label>Address</label>
        <span class="form-control">@Model.RequestedFor.Address</span>
      </div>
      <div class="form-group col-md-6">
        <label>City</label>
        <span class="form-control">@Model.RequestedFor.City</span>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label>State</label>
        <span class="form-control">@Model.RequestedFor.State</span>
      </div>
      <div class="form-group col-md-6">
        <label>Zip Code</label>
        <span class="form-control">@Model.RequestedFor.Zip</span>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label>Phone</label>
        <span class="form-control">@Model.RequestedFor.Phone</span>
      </div>
      <div class="form-group col-md-6">
        <label>Cell Phone</label>
        <span class="form-control">@Model.RequestedFor.CellPhone</span>
      </div>
    </div>
  </div>
</div>
