@model Review
@{
  ViewData["Title"] = "Viewing";
  var request = (Request)ViewData["request"];
}

<partial name="/Views/Shared/Partials/_ViewReview.cshtml" />

<div class="card">
  <div class="card-header">Systems To Remove</div>
  <div class="card-body">
    <div class="row">
      <div class="form-group col-md-6">
        <label>Bureau</label>
        <span class="form-control">@request.RequestedFor.Bureau.Description</span>
      </div>
      <div class="form-group col-md-6">
        <label>Unit / Job Function</label>
        <span class="form-control">@request.RequestedFor.Unit.Name</span>
      </div>
    </div>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col" class="d-none d-md-table-cell">Description</th>
            <th scope="col" class="nowrap">In Portfolio</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var requestedSystem in request.Systems)
          {
            <tr>
              <td>@requestedSystem.System.SystemId</td>
              <td>@requestedSystem.System.Name</td>
              <td class="d-none d-md-table-cell">@requestedSystem.System.Description</td>
              <td>@requestedSystem.InPortfolio</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <a asp-controller="Review" asp-action="MyReviews" class="btn btn-primary float-right">Return</a>
  </div>
</div>
