@model Form
@{
  var systemForms = (List<PAM.Models.SystemForm>)ViewData["Systems"];
}
@section StyleSheets{
  <link rel="stylesheet" href="~/lib/bootstrap-table/bootstrap-table.min.css">
}
@section Scripts{
  <script src="~/lib/core-js/core.min.js"></script>
  <script src="~/lib/bootstrap-table/bootstrap-table.min.js"></script>
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-action="Forms">Forms</a></li>
    <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
  </ol>
</nav>

@if ((await AuthorizationService.AuthorizeAsync(User, "IsAdmin")).Succeeded)
{
  <p class="text-right"><a asp-action="EditForm" asp-route-id="@Model.FormId" class="btn btn-primary">Edit Form</a></p>
}

<table class="table table-bordered">
  <tr><th>Id</th><td>@Model.FormId</td></tr>
  <tr><th>Name</th><td>@Model.Name</td></tr>
  <tr><th>Description</th><td>@Model.Description</td></tr>
</table>



<div class="card mt-3">
  <div class="card-header">Systems (@systemForms.Count)</div>
  <div class="card-body">
    @if (systemForms.Count > 0)
    {
      <table data-toggle="table" data-search="true" data-search-align="left" data-classes="table">
        <thead>
          <tr>
            <th>Name</th>
            <th class="d-none d-lg-table-cell">Description</th>
            <th class="d-none d-md-table-cell">Owner</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var system in systemForms)
          {
            <tr>
              <td>@system.System.Name</td>
              <td class="d-none d-lg-table-cell">@system.System.Description</td>
              <td class="d-none d-md-table-cell">@system.System.Owner</td>
            </tr>
          }
        </tbody>
      </table>
    }

  </div>

</div>
<div class="text-right">
  <a asp-action="Download" asp-route-id="@Model.FormId" class="btn btn-primary">
    <i class="fas fa-arrow-circle-down">DownLoad Form</i>
    <span class="d-none d-md-inline"></span>
  </a>
</div>
