@model Form
@{
  ViewData["Title"] = "View Form";
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-action="Forms">Forms</a></li>
    <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
  </ol>
</nav>

@if ((await AuthorizationService.AuthorizeAsync(User, "IsAdmin")).Succeeded)
{
  <p class="text-right"><a asp-action="EditForm" asp-route-id="@Model.FormId" class="btn btn-primary">Edit Form</a></p>
}

<table class="table table-bordered">
  <tr><th>Id</th><td>@Model.FormId</td></tr>
  <tr>
    <th>Name</th>
    <td>
      @if (Model.FileId != null)
      {
        <a asp-action="DownloadForm" asp-route-id="@Model.FormId">@Model.Name</a>
      }
      else
      {
        @Model.Name
      }
    </td>
  </tr>
  <tr>
    <th>Properties</th>
    <td>
      <span>
        @if (Model.ForEmployeeOnly)
        {
          <i class="far fa-check-square"></i>
        }
        else
        {
          <i class="far fa-square"></i>
        }
        For Employee Only
      </span>
      <span class="ml-3">
        @if (Model.ForContractorOnly)
        {
          <i class="far fa-check-square"></i>
        }
        else
        {
          <i class="far fa-square"></i>
        }
        For Contractor Only
      </span>
    </td>
  </tr>
  <tr>
    <th>Systems</th>
    <td>
      @if (Model.Systems.Count > 0)
      {
        <ul>
          @foreach (var system in Model.Systems.OrderBy(s => s.System.Name))
          {
            <li><a asp-controller="System" asp-action="ViewSystem" asp-route-id="@system.SystemId">@system.System.Name</a></li>
          }
        </ul>
      }
    </td>
  </tr>
</table>
