@{
  ViewData["Title"] = "My Requests";
  var allRequests = (List<Request>)ViewData["allRequests"];
  var underReviewRequests = (List<Request>)ViewData["underReviewRequests"];
  var completedRequests = (List<Request>)ViewData["completedRequests"];
  var draftRequests = (List<Request>)ViewData["draftRequests"];
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">My Requests</li>
  </ol>
</nav>

<div><a asp-action="CreateRequest" class="btn btn-primary float-right">New Request</a></div>

@if (!allRequests.Any())
{
  <p>You have not created any registration request yet.</p>
}

@if (allRequests.Any())
{
  <ul class="nav nav-tabs">
    @if (underReviewRequests.Any())
    {
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#review">Under Review</a>
      </li>
    }
    @if (completedRequests.Any())
    {
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#completed">Completed</a>
      </li>
    }
    @if (draftRequests.Any())
    {
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#drafts">Drafts</a>
      </li>
    }
  </ul>
}

@if (allRequests.Any())
{
  <div id="myTabContent" class="tab-content">

    @if (underReviewRequests.Any())
    {
      <div id="review" class="tab-pane fade p-2">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Type</th>
              <th scope="col">Submitted</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            @foreach (var request in underReviewRequests)
            {
              <tr>
                <td>@request.RequestId</td>
                <td>@request.RequestType.DisplayCode</td>
                <td>@request.SubmittedOn</td>
                <td>
                  <a asp-action="View">View</a>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }

    @if (completedRequests.Any())
    {
      <div id="completed" class="tab-pane fade p-2">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Type</th>
              <th scope="col">Submitted</th>
              <th scope="col">Completed</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            @foreach (var request in completedRequests)
            {
              <tr>
                <td>@request.RequestId</td>
                <td>@request.RequestType.DisplayCode</td>
                <td>@request.SubmittedOn</td>
                <td>@request.CompletedOn</td>
                <td>
                  <a asp-action="View">View</a>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }

    @if (draftRequests.Any())
    {
      <div id="drafts" class="tab-pane fade p-2">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Type</th>
              <th scope="col" class="text-nowrap">Requested For</th>
              <th scope="col" class="text-nowrap d-none d-md-table-cell">Created On</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            @foreach (var request in draftRequests)
            {
              <tr>
                <td>@request.RequestId</td>
                <td>@request.RequestType.DisplayCode</td>
                <td>@request.RequestedFor.Name</td>
                <td class=" d-none d-md-table-cell">@request.CreatedOn.Value.ToString("MM/dd/yyyy")</td>
                <td>
                  <a asp-action="EditRequest" asp-route-id="@request.RequestId" class="ml-2">
                    <i class="fas fa-edit"></i>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>
                  <a href="javascript:deleteRequest(@request.RequestId)" class="ml-2">
                    <i class="fas fa-trash-alt"></i>
                    <span class="d-none d-md-inline">Delete</span>
                  </a>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }

  </div>

  @section Scripts{
    <script>
      $(function () {
        var tabTitle = $("ul.nav>li:first-child>a");
        tabTitle.addClass("active");
        var tab = $(tabTitle.attr("href"));
        tab.addClass("active show");
      });
      function deleteRequest(id) {
        var msg = "Are you sure you want to delete this request?";
        if (confirm(msg))
          window.location.href = "/Request/DeleteRequest/" + id;
      }
    </script>
  }
}
