@{
    var request = (Request)ViewData["RequestForReview"];
    var systems = (ICollection<RequestedSystem>)ViewData["RelatedSystems"];
    ViewData["Title"] = "Request For Review";
}

<body>
  <form asp-controller="Request" asp-action="RequestForReview" method="post">
    <div class="alert alert-warning">
      Please review this request.
    </div>
    <div class="alert alert-success">
      Request For
    </div>
    @*@{
      var requestForName = "";
      if (request.RequestedById == request.RequestedForId) { requestForName = requester.Name; }
      else { requestForName = requestFor.Name; }
    }*@
    <p>This is a request made for <i>@request.Name</i> </p>
    <div class="alert alert-success">
      Requester(s) Information
    </div>
    <div class="alert alert-info" style="width:50%;">
      Personal Information
    </div>
    <div class="row">
      <div class="col-3">
        <p>First Name: <i>@*@requester.FirstName*@</i></p>
      </div>
      <div class="col-3">
        <p>Last Name: <i>@*@requester.LastName*@</i></p>
      </div>
    </div>
    <p>Address: <i>@*@requester.Address*@</i></p>
    <p>City: <i>@*@requester.City*@</i></p>
    <div class="row">
      <div class="col-3">
        <p>State: <i>@*@requester.State*@</i></p>
      </div>
      <div class="col-3">
        <p>ZipCode: <i>@*@requester.Zip*@</i></p>
      </div>
    </div>

    <div class="alert alert-success">
      Request Type
    </div>
    <p> This is a request to: <i>@request.RequestType.DisplayCode</i> </p>
    <div class="alert alert-success">
      Unit Selection
    </div>
    <p> The unit selected is: <i>@*@systems.First().Unit.Name*@</i></p>
    <div class="alert alert-success">
      System Selection
    </div>
    @{
      @Html.Raw("<p> The systems associated with this unit are: ")
      foreach (var system in systems)
      {
        @Html.Raw("<i>");
        @system.System.Name;
        @Html.Raw("</i>");
        @Html.Raw(", ");
      }
      @Html.Raw("</p>")
    }
    <div class="alert alert-success">
      Additional Request Information
    </div>
    @{
      if (request.IsHighProfileAccess)
      {
        @Html.Raw("<p> This request requires <i>High Profile Access</i></p>") };
      if (request.IsGlobalAccess)
      {
        @Html.Raw("<p> This request requires <i>Global Access</i></p>") };
      if (request.IsContractor)
      {
        @Html.Raw("<p> This request is made for a <i>contractor</i></p>") };
      if (request.CaseloadNumber != null)
      {
        @Html.Raw("<p> The Case Load number for this request is: <i>") @request.CaseloadNumber @Html.Raw("</i></p>") };
      if (request.CaseloadFunction != null)
      {
        @Html.Raw("<p> The Case Load function for this request is: <i>") @request.CaseloadFunction @Html.Raw("</i></p>") };
      if (request.CaseloadType != null)
      {
        @Html.Raw("<p> The Case Load Type for this request is: <i>") @request.CaseloadType @Html.Raw("</i></p>") };
    }
    <div class="form-group">
      <label for="comment">Comment:</label>
      <textarea name="comment" class="form-control" rows="5" id="comment"></textarea>
    </div>
    <div style="display:flex;" class="justify-content-around">
      <button type="submit" name="submitValue" class="btn btn-success" value="approve">Approve</button>
      <button type="submit" name="submitValue" class="btn btn-outline-danger" value="reject">Reject</button>
    </div>
  </form>
</body>
