@model Request

@{
  ViewData["Title"] = "Viewing";
  var request = (Request)ViewData["request"];
}

<partial name="/Views/Shared/Partials/_ViewRequest.cshtml" />

<div class="card border-info mb-1">
  <div class="card-header bg-info text-white">
    Systems Requested For Removal
  </div>
  <div class="card-body">
    <div class="row">
      <div class="form-group col-md-6">
        <label>Bureau</label>
        <span class="form-control">@Model.RequestedFor.Bureau.Description</span>
      </div>
      <div class="form-group col-md-6">
        <label>Unit / Job Function</label>
        <span class="form-control">@Model.RequestedFor.Unit.Name</span>
      </div>
    </div>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col" class="d-none d-md-table-cell">Description</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var requestedSystem in Model.Systems)
          {
            <tr>
              <td>@requestedSystem.System.SystemId</td>
              <td>@requestedSystem.System.Name</td>
              <td class="d-none d-md-table-cell">@requestedSystem.System.Description</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="card border-info mb-1">
  <div class="card-header bg-info text-white">
    Additional Information
  </div>
  <div class="card-body">
    <div class="row mb-2">
      <div class="col-md-4">
        @if (Model.IsContractor)
        {
          <i class="far fa-check-square"></i>
        }
        else
        {
          <i class="far fa-square"></i>
        }
        Contractor
      </div>
      <div class="col-md-4">
        @if (Model.IsHighProfileAccess)
        {
          <i class="far fa-check-square"></i>
        }
        else
        {
          <i class="far fa-square"></i>
        }
        High Profile
      </div>
      <div class="col-md-4">
        @if (Model.IsGlobalAccess)
        {
          <i class="far fa-check-square"></i>
        }
        else
        {
          <i class="far fa-square"></i>
        }
        Global Access
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-4">
        <label>Caseload Type</label>
        <span class="form-control">@Model.CaseloadType</span>
      </div>
      <div class="form-group col-md-4">
        <label>Caseload Function</label>
        <span class="form-control">@Model.CaseloadFunction</span>
      </div>
      <div class="form-group col-md-4">
        <label>Caseload Number</label>
        <span class="form-control">@Model.CaseloadNumber</span>
      </div>
    </div>
  </div>
</div>

<div class="card border-info mb-1">
  <div class="card-header bg-info text-white">
    Signature(s) Required
  </div>
  <div class="card-body">
    @foreach (var review in Model.Reviews)
    {
      <div class="row">
        <div class="form-group col">
          <label>@review.ReviewerTitle</label>
          <span class="form-control">@review.Reviewer.Name</span>
        </div>
      </div>
    }
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <a asp-controller="Request" asp-action="MyRequests" class="btn btn-primary float-right">Return</a>
  </div>
</div>
