@model Request
@{
  ViewData["Title"] = "Add Systems Selection";
  ViewData["id"] = Model.RequestId;
  var systemsList = (List<PAM.Models.System>)ViewData["systems"];
}
@section StyleSheets{
  <link rel="stylesheet" href="~/css/progressbar.css" />
  <link rel="stylesheet" href="~/lib/bootstrap-table/bootstrap-table.min.css">
}

@section Scripts {
  <script src="~/lib/bootstrap-treeview/bootstrap-treeview.min.js"></script>
  <script src="~/lib/core-js/core.min.js"></script>
  <script src="~/lib/bootstrap-table/bootstrap-table.min.js"></script>
  <script>
  $(function(){
    var defaultSystems = @Model.RequestedFor.UnitId;
        $("#unitId").val(defaultSystems);
        $("#next").prop("disabled", false);
        $("#saveDraft").prop("disabled", false);
        $.ajax({
          url: "/api/portfolio/" + defaultSystems,
          success: function (data) {
            $("#systems").empty();
            data.forEach(function (system) {
              if (system.systemId) {
                $("#system" + system.systemId).prop("checked", true);
                $("#system" + system.systemId).prop("disabled", true);
              }
              $("#systems").append("<tr><td>"
                + system.systemId + "</td><td>"
                + system.name + "</td></tr>");
            });
          }
    })
    $("#saveDraft").click(function () {
      var form = $(this).parents("form:first");
      form.append("<input type='hidden' name='saveDraft' value='true'>");
      form.submit();
    });
  });
  </script>
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Request" asp-action="MyRequests">My Requests</a></li>
    <li class="breadcrumb-item active" aria-current="page">Request #@ViewData["id"]</li>
  </ol>
</nav>

<form asp-action="AddSystems" method="post">
  <div class="mb-3">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <h4 class="card-header">Default Systems</h4>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
              </tr>
            </thead>
            <tbody id="systems"></tbody>
          </table>
        </div>
      </div>
      <div class="col-md-9">
        <p class="float-left mt-2">Please select the system(s) to add:</p>
        <table id="table"
               data-toggle="table"
               data-pagination="true"
               data-page-size="15"
               data-maintain-selected="true"
               data-search="true"
               data-search-align="right">
          <thead>
            <tr>
              <th ></th>
              <th class="d-md-table-cell" data-sortable="true" scope="col">Id</th>
              <th class="d-md-table-cell" data-sortable="true" scope="col">Name</th>
              <th class="d-md-table-cell" scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            @foreach (var system in systemsList)
            {
              var label = "system" + system.SystemId;
              <tr>
                <td  class="d-none d-md-table-cell">
                  <div class="custom-control custom-checkbox" id="selectSystems">
                    <input type="checkbox" class="custom-control-input" name="addingSystem" id="@label" value="@system.SystemId" />
                    <label class="custom-control-label" for="@label"></label>
                  </div>
                </td>
                <td class="d-none d-md-table-cell">@system.SystemId</td>
                <td class="d-none d-md-table-cell">@system.Name</td>
                <td class="d-none d-md-table-cell">@system.Description</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-4">
      <button id="saveDraft" class="btn btn-secondary" disabled>Save Draft</button>
    </div>
    <div class="col-8 text-right">
      <a asp-action="RequesterInfo" asp-route-id="@Model.RequestId" class="btn btn-secondary">Previous</a>
      <button id="next" type="submit" class="btn btn-primary ml-3" disabled>Next</button>
    </div>
  </div>
</form>
