@using PAM.Models
@using PAM.Extensions

@model PAM.Models.Request

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
  var requester = HttpContextAccessor.HttpContext.Session.GetObject<Requester>("Requester");
  ViewData["Title"] = "New Request";
}

<body>
  <partial name="../Shared/_ProgressBar.cshtml" />
  <div class="text-center">
    <p style="font-size: 30px;"> Is this request for yourself? </br> or for another individual? </p>
  </div>

  <form asp-controller="NewRequest" asp-action="SelfInfo" method="get">
    <div class="text-center">
      <input asp-for="Name" value="@requester.Name" type="hidden" />
      <input asp-for="Username" value="@requester.Username" type="hidden" />
      <input asp-for="RequestedById" value=@requester.RequesterId type="hidden" />
      <input asp-for="RequestedForId" value="@requester.RequesterId" type="hidden" />
      <button type="submit" class="btn btn-info" onclick="stepIndicate(1)" style="display:inline-block">Self</button>
    </div>
  </form>
  </br>
  <form asp-controller="NewRequest" asp-action="OtherInfo" method="get">
    <div class="text-center">
      <input asp-for="Name" value="@requester.Name" type="hidden" />
      <input asp-for="Username" value="@requester.Username" type="hidden" />
      <input asp-for="RequestedById" value=@requester.RequesterId type="hidden" />
      <!--TODO: Fix to Proper RequestedForId-->
      <input asp-for="RequestedForId" value="@requester.RequesterId" type="hidden" />
      <button type="submit" class="btn btn-info" onclick="stepIndicate(1)" style="display:inline-block">Another</button>
    </div>
  </form>
</body>
