@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var requester = HttpContextAccessor.HttpContext.Session.GetObject<Requester>("Requester");
    var requestFor = HttpContextAccessor.HttpContext.Session.GetObject<Requester>("RequestFor");
    var request = (Request)ViewData["Request"];
    var systems = (List<UnitSystem>)ViewData["Systems"];
    var supervisor = ViewData["Supervisor"];
    ViewData["Title"] = "Review";
}

<body onload="javascript: stepIndicate()">
  <partial name="../Shared/_ProgressBar.cshtml" />
  <form asp-controller="NewRequest" asp-action="Review" method="post">
    <div class="alert alert-warning">
      Please confirm that all information is correct.
    </div>
    <div class="alert alert-success">
      Step 1 - Self or For
      <a class="float-right" href="/NewRequest/NewRequest"> Edit </a>
    </div>
    @{
      var requestForName = "";
      if (request.RequestedById == request.RequestedForId) { requestForName = requester.Name; }
      else { requestForName = requestFor.Name; }
    }
    <p>This is a request made for <i>@requestForName</i> </p>
    <div class="alert alert-success">
      Step 2 - Requester(s) Information
      <a class="float-right" href="/NewRequest/RequesterInfo"> Edit </a>
    </div>
    <div class="row">
      <div class="col-xl-6">
        <div class="alert alert-info">
          Personal Information
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="countyDeptName">Agency Name</label>
        <input value=@requester.Service class="form-control" id="countyDeptName" disabled />
      </div>
      <div class="form-group col-md-3">
        <label for="countyDeptNum">Dept. #</label>
        <input value="@requester.Department" type="text" class="form-control" id="countyDeptNum" disabled />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="title">Title</label>
        <input value="@requester.Title" type="text" class="form-control" id="title" disabled />
      </div>
      <div class="form-group col-md-6">
        <label for="section">Section</label>
        <input value="@requester.Section" type="text" class="form-control" id="section" disabled />
      </div>
    </div>
    <hr />
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="validateFirstName">First Name</label>
        <input value="@requester.FirstName" type="text" class="form-control" disabled />
      </div>
      <div class="form-group col-md-5">
        <label for="validateLastName">Last Name</label>
        <input value="@requester.LastName" type="text" class="form-control" disabled />
      </div>
      <div class="form-group col-md-2">
        <label for="middleName">Middle Name</label>
        <input value="@requester.MiddleName" type="text" class="form-control" id="middleName" disabled />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="workAddr">Address</label>
        <input value="@requester.Address" class="form-control" id="workAddr" disabled />
      </div>
      <div class="form-group col-md-3">
        <label for="workCity">City</label>
        <input value="@requester.City" type="text" class="form-control" id="workCity" disabled />
      </div>
      <div class="form-group col-md-2">
        <label for="workState">State</label>
        <input value="@requester.State" type="text" class="form-control" id="workState" disabled />
      </div>
      <div class="form-group col-md-3">
        <label for="workZip">Zip Code</label>
        <input value="@requester.Zip" type="text" class="form-control" id="workZip" disabled />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="locationPhoneNum">Employee Location Phone #</label>
        <input value="@requester.Phone" class="form-control" id="locationPhoneNum" disabled />
      </div>
      <div class="form-group col-md-6">
        <label for="employeeCellNum">Employee Cell Phone #</label>
        <input value="@requester.CellPhone" class="form-control" id="employeeCellNum" disabled />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="countyEmail">Email Address</label>
        <input value="@requester.Email" type="text" class="form-control" id="countyEmail" disabled />
      </div>
    </div>
    <div class="alert alert-success">
      Step 3 - Request Type
      <a class="float-right" href="/NewRequest/RequestType"> Edit </a>
    </div>
      <div class="custom-control custom-radio">
        <input value="1" type="radio" class="custom-control-input" id="newReg" disabled>
        <label class="custom-control-label label-edit" for="newReg"> New Registrations </label>
        <p> -Initiates first time registrations for new users and systems access. </p>
      </div>
      <div class="custom-control custom-radio">
        <input value="2" type="radio" class="custom-control-input" id="transfer" disabled>
        <label class="custom-control-label label-edit" for="transfer"> Transfer </label>
        <p> -Initiates changes to existing information when transferring caseload, job function and/or work location. </p>
      </div>
      <div class="custom-control custom-radio">
        <input value="4" type="radio" class="custom-control-input" id="portfolio" disabled>
        <label class="custom-control-label label-edit" for="portfolio"> Portfolio Assignment </label>
        <p> -Initiates the update of information for the portfolio. </p>
      </div>
      <div class="custom-control custom-radio">
        <input value="5" type="radio" class="custom-control-input" id="leaving" checked="" disabled>
        <label class="custom-control-label label-edit" for="leaving"> Leaving Probation </label>
        <p> -Initiates removal of ALL system(s) access. </p>
      </div>
      <div class="custom-control custom-radio">
        <input value="11" type="radio" class="custom-control-input" id="addAccess" disabled>
        <label class="custom-control-label label-edit" for="addAccess">Add Access</label>
        <p> -Initiates additional system(s) access (Bureau Chief's signature required). </p>
      </div>
      <div class="custom-control custom-radio">
        <input value="12" type="radio" class="custom-control-input" id="removeAccess" disabled>
        <label class="custom-control-label label-edit" for="removeAccess"> Remove Access </label>
        <p> -Initiates removal access for individual system(s). </p>
      </div>
    <div class="alert alert-success">
      Step 4 - Unit Selection
      <a class="float-right" href="/NewRequest/SelectUnit"> Edit </a>
    </div>
    <p> The unit selected is: <i>@systems.First().Unit.Name</i></p>
    <div class="alert alert-success">
      Step 5 - Systems Associated
    </div>
    <table class="table table-hover">
      <thead class="table-info">
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var system in systems)
        {
          <tr>
            <td>@system.System.Name</td>
            <td>@system.System.Description</td>
          </tr>
        }
      </tbody>
    </table>
    <div class="alert alert-success">
      Step 6 - Additional Request Information
      <a class="float-right" href="/NewRequest/RequestInfo">Edit</a>
    </div>
    
    <div class="form-row">
      <div class="form-group col-xl-6">
        <label class="control-label" for="readOnlyInput">Caseload Type</label>
        <input value="@request.CaseloadType" class="form-control" id="readOnlyInput" type="text" disabled/>
      </div>
      <div class="form-group col-xl-6">
        <label class="control-label" for="readOnlyInput">Caseload Function</label>
        <input value="@request.CaseloadFunction" class="form-control" id="readOnlyInput" type="text" disabled/>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-xl-6">
        <label class="control-label" for="readOnlyInput">Caseload Number</label>
        <input value="@request.CaseloadNumber" class="form-control" id="readOnlyInput" type="text" disabled/>
      </div>
      <div class="form-group col-xl-6">
        <label class="control-label" for="readOnlyInput">Old Caseload Number</label>
        <input value="@request.OldCaseloadNumber" class="form-control" id="readOnlyInput" type="text" disabled/>
      </div>
    </div>
      <div class="form-group">
        <label class="control-label" for="readOnlyInput">Departure Reason</label>
        <input value="@request.DepartureReason" class="form-control" id="readOnlyInput" type="text" disabled/>
      </div>


    <div class="alert alert-success">
      Step 7 - Supervisor's Review
      <a class="float-right" href="/NewRequest/Supervisors"> Edit </a>
    </div>
    <p> This request will be reviewed by: <i>@supervisor</i> </p>
    <div style="display:flex;" class="justify-content-center">
      <button type="submit" class="btn btn-primary">Confirm Submit</button>
    </div>
  </form>
</body>
