@model Request
@{
  ViewData["Title"] = "Additional Systems";
  ViewData["id"] = Model.RequestId;
  var systemsList = (List<PAM.Models.System>)ViewData["systems"];
  var defaultSystems = (List<PAM.Models.System>)ViewData["defaultSystems"];
}
@section StyleSheets{
  <link rel="stylesheet" href="~/css/progressbar.css" />
  <link rel="stylesheet" href="~/lib/bootstrap-table/bootstrap-table.min.css">
}

@section Scripts {
  <script src="~/lib/bootstrap-treeview/bootstrap-treeview.min.js"></script>
  <script src="~/lib/core-js/core.min.js"></script>
  <script src="~/lib/bootstrap-table/bootstrap-table.min.js"></script>

  <script>
    $(function () {
      $("#next").prop("disabled", false);
      $("#saveDraft").prop("disabled", false);
      /*
      $.ajax({
        url: "/api/portfolio",
        success: function (data) {
          data.forEach(function (system) {
            $("#select" + system.systemId).hide();
            $("input[type='checkbox']").click(function () {
              if (system.systemId == $(this).val()) {
                if ($("input[type='checkbox']").is(":checked")) {
                  $("#select" + $(this).val()).show();
                }
                else
                  $("#select" + $(this).val()).hide();
              }
            });
          });
        }
      });
      */
      $("input[name='addingSystem']").click(function () {
        var item = $(this).val()
        if ($("#system"+item).is(":checked"))
          $("#select" + item).show();
        else
          $("#select" + item).hide();
      });
      $("#saveDraft").click(function () {
        var form = $(this).parents("form:first");
        form.append("<input type='hidden' name='saveDraft' value='true'>");
        form.submit();
      });
    });
  </script>
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Request" asp-action="MyRequests">My Requests</a></li>
    <li class="breadcrumb-item active" aria-current="page">Request #@ViewData["id"]</li>
  </ol>
</nav>

<form asp-action="AddSystems" method="post">
  <div class="row mb-3">
    <div class="col-md-3">
      <div class="row mb-2" id="systemsCard">
        <div class="col-md-12">
          <div class="card border-info">
            <h4 class="card-header bg-info text-white">Selected Systems</h4>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Name</th>
                </tr>
              </thead>
              @foreach (var system in systemsList)
              {
                var label = "select" + system.SystemId;
                <tr id="@label" style="display:none;">
                  <td>@system.SystemId</td>
                  <td>@system.Name</td>
                </tr>
              }
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card border-info">
            <h4 class="card-header bg-info text-white">Default Systems</h4>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Name</th>
                </tr>
              </thead>
              <tbody>
                @foreach (var ds in defaultSystems)
                {
                  <tr>
                    <td>@ds.SystemId</td>
                    <td>@ds.Name</td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <p class="float-left mt-2">Please select the system(s) to add:</p>
      <table id="table"
             data-pagination="true"
             data-page-size="15"
             data-toggle="table"
             data-maintain-selected="true"
             data-search="true"
             data-search-align="right">
        <thead>
          <tr>
            <th></th>
            <th data-sortable="true" scope="col">Id</th>
            <th data-sortable="true" scope="col">Name</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var system in systemsList)
          {
            var label = "system" + system.SystemId;
            <tr>
              <td>
                <div class="custom-control custom-checkbox" id="selectSystems">
                  <input type="checkbox" class="custom-control-input" name="addingSystem" id="@label" value="@system.SystemId" />
                  <label class="custom-control-label" for="@label"></label>
                </div>
              </td>
              <td>@system.SystemId</td>
              <td>@system.Name</td>
              <td>@system.Description</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  <div class="form-row">
    <div class="col-4">
      <button id="saveDraft" class="btn btn-secondary" disabled>Save Draft</button>
    </div>
    <div class="col-8 text-right">
      <a asp-controller="EditAddAccess" asp-action="UnitSelection" asp-route-id="@Model.RequestId" class="btn btn-secondary">Previous</a>
      <button id="next" type="submit" class="btn btn-primary ml-3" disabled>Next</button>
    </div>
  </div>
</form>
