@model IEnumerable<PAM.Models.Unit>

@{
    ViewData["Title"] = "Units";
}

<h2> Units</h2>


<p>
    <a asp-action="CreateUnit">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UnitId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bureau)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Parent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayOrder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bureau.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Parent.Name)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.DisplayOrder)
                </td>
                <td>
                    <div>

                        @if (item.Children.Count != 0)
                        {
                            <a asp-action="DefaultPortfolio" asp-route-id="@item.UnitId">More</a>
                           
                        }
                        else
                        {
                            <a asp-action="DefaultPortfolio" asp-route-id="@item.UnitId">Empty</a>
                        }
                    </div>

                </td>
                <td>
                    <a asp-action="EditUnit" asp-route-id="@item.UnitId">Edit</a> |
                    <a asp-action="DetailsUnit" asp-route-id="@item.UnitId">Details</a> |
                    <a asp-action="DeleteUnit" asp-route-id="@item.UnitId">Delete</a>
                </td>
            </tr>

        }
    </tbody>
</table>

