@model ICollection<Bureau>
@{
  ViewData["Title"] = "Bureaus";
}
@section StyleSheets{
  <link rel="stylesheet" href="~/lib/bootstrap-table/bootstrap-table.min.css">
}
@section Scripts{
  <script src="~/lib/core-js/core.min.js"></script>
  <script src="~/lib/bootstrap-table/bootstrap-table.min.js"></script>
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Bureaus</li>
  </ol>
</nav>

<p><a asp-action="AddBureau" class="btn btn-primary float-right">Add Bureau</a></p>

<table data-toggle="table" data-search="true" data-search-align="left">
  <thead>
    <tr>
      <th>Code</th>
      <th class="d-none d-sm-table-cell">Description</th>
      <th class="d-none d-md-table-cell text-nowrap">Display Order</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var bureau in Model)
    {
      <tr>
        <td>
          <a asp-action="ViewBureau" asp-route-id="@bureau.BureauId">@bureau.Code</a>
        </td>
        <td class="d-none d-sm-table-cell">@bureau.Description</td>
        <td class="d-none d-md-table-cell">@bureau.DisplayOrder</td>
        <td>
          <a asp-action="EditBureau" asp-route-id="@bureau.BureauId" class="btn btn-primary">
            <i class="fas fa-edit"></i>
            <span class="d-none d-md-inline">Edit</span>
          </a>
        </td>
      </tr>
    }
  </tbody>
</table>
