@model PAM.Models.System
@{
  ViewData["Title"] = "Edit System";
}
@section Scripts{
  <script>
    function confirmRemoval() {
      var msg = "Are you sure you want to remove this system?";
      if (confirm(msg))
        window.location.href = "@Context.Request.PathBase/System/RemoveSystem/@Model.SystemId";
    }
  </script>
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-action="Systems">Systems</a></li>
    <li class="breadcrumb-item"><a asp-action="ViewSystem" asp-route-id="@Model.SystemId">@Model.Name</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit</li>
  </ol>
</nav>

<form method="post">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label asp-for="Name">Name</label>
      <input asp-for="Name" type="text" class="form-control" required>
    </div>
    <div class="form-group col-md-8">
      <label asp-for="Description">Description</label>
      <input asp-for="Description" type="text" class="form-control">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label asp-for="Owner">Owner</label>
      <input asp-for="Owner" type="text" class="form-control">
    </div>
    <div class="form-group col-md-6">
      <label asp-for="ProcessingUnitId" class="form-label">Processing Unit</label>
      <select asp-for="ProcessingUnitId" class="form-control" asp-items="ViewBag.processingUnits">
        <option value="">- NONE -</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="addForm">Add Form</label>
      <input id="addForm" type="text" class="form-control" placeholder="Search forms by name or description">
    </div>
  </div>
  <div class="card mt-3 mb-3">
    <div class="card-header">Forms</div>
    <div class="card-body">
      <table class="table table-hover">
        <thead><tr><th>Id</th><th>Name</th><th class="d-none d-md-table-cell">Description</th><th></th></tr></thead>
        <tbody id="forms">
          @foreach (var form in Model.Forms)
          {
            <tr data-form-id="@form.FormId">
              <td>@form.FormId</td>
              <td>@form.Form.Name</td>
              <td class="d-none d-md-table-cell">@form.Form.Description</td>
              <td>
                <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  <div class="form-row">
    <div class="col-6">
      <a href="javascript:confirmRemoval()" class="btn btn-danger">Remove System</a>
    </div>
    <div class="col-6 text-right">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>
