@model ICollection<PAM.Models.System>
@{
  ViewData["Title"] = "Systems";
}
@section StyleSheets{
  <link rel="stylesheet" href="~/lib/bootstrap-table/bootstrap-table.min.css">
}
@section Scripts{
  <script src="~/lib/core-js/core.min.js"></script>
  <script src="~/lib/bootstrap-table/bootstrap-table.min.js"></script>
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Systems</li>
  </ol>
</nav>

@if ((await AuthorizationService.AuthorizeAsync(User, "IsAdmin")).Succeeded)
{
  <p><a asp-action="AddSystem" class="btn btn-primary float-right">Add System</a></p>
}

<table data-toggle="table" data-search="true" data-search-align="left" data-pagination="true" data-page-size="25">
  <thead>
    <tr>
      <th>Name</th>
      <th class="d-none d-md-table-cell" data-sortable="true">Forms</th>
      <th class="d-none d-md-table-cell" data-sortable="true">Support Unit</th>
      @if ((await AuthorizationService.AuthorizeAsync(User, "IsAdmin")).Succeeded)
      {
        <th></th>
      }
    </tr>
  </thead>
  <tbody>
    @foreach (var system in Model)
    {
      <tr>
        <td>
          <a asp-action="ViewSystem" asp-route-id="@system.SystemId">@system.Name</a>
        </td>
        <td class="d-none d-md-table-cell">@system.Forms.Count</td>
        <td class="d-none d-md-table-cell">@system.SupportUnit?.Name</td>
        @if ((await AuthorizationService.AuthorizeAsync(User, "IsAdmin")).Succeeded)
        {
          <td>
            <a asp-action="EditSystem" asp-route-id="@system.SystemId" class="btn btn-primary">
              <i class="fas fa-edit"></i>
              <span class="d-none d-md-inline">Edit</span>
            </a>
          </td>
        }
      </tr>
    }
  </tbody>
</table>
