@model PAM.Models.System
@{
  ViewData["Title"] = "View System";
  var isAllowed = (bool)ViewData["Admin"];
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-action="Systems">Systems</a></li>
    <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
  </ol>
</nav>
@if (isAllowed)
{
  <p class="text-right"><a asp-action="EditSystem" asp-route-id="@Model.SystemId" class="btn btn-primary">Edit System</a></p>
}

<table class="table table-bordered">
  <tr><th>Id</th><td>@Model.SystemId</td></tr>
  <tr><th>Name</th><td>@Model.Name</td></tr>
  <tr><th>Description</th><td>@Model.Description</td></tr>
  <tr><th>Owner</th><td>@Model.Owner</td></tr>
  <tr><th>Processing Unit</th><td>@Model.ProcessingUnit?.Name</td></tr>
</table>
