@model Review
@{
  ViewData["Title"] = "Viewing";
  var request = (Request)ViewData["request"];
}

<div class="row mb-3">
  <div class="col-12">
    <a asp-controller="Review" asp-action="MyReviews" class="btn btn-primary float-right">Return</a>
  </div>
</div>
<div class="card border-info mb-1">
  <div class="card-header bg-info text-white">Request Information</div>
  <div class="card-body">
    <div class="row">
      <div class="form-group col-md-6">
        <label>Request Id</label>
        <span class="form-control">@request.RequestId</span>
      </div>
      <div class="form-group col-md-6">
        <label>Request Type</label>
        <span class="form-control">@request.RequestType.DisplayCode</span>
      </div>
    </div>
    @if (!request.IsSelfRequest)
    {
      <div class="row">
        <div class="form-group">
          <label>Prepared By</label>
          <span class="form-control">@request.RequestedBy.Name</span>
        </div>
      </div>
    }
  </div>
</div>

<div class="card border-info mb-1">
  <div class="card-header bg-info text-white">
    Requester Information
  </div>
  <div class="card-body">
    <div class="row">
      <div class="form-group col-md-6">
        <label>First Name</label>
        <span class="form-control">@request.RequestedFor.FirstName</span>
      </div>
      <div class="form-group col-md-6">
        <label>Last Name</label>
        <span class="form-control">@request.RequestedFor.LastName</span>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label>Department</label>
        <span class="form-control">@request.RequestedFor.Department</span>
      </div>
      <div class="form-group col-md-6">
        <label>Service</label>
        <span class="form-control">@request.RequestedFor.Service</span>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label>Title</label>
        <span class="form-control">@request.RequestedFor.Title</span>
      </div>
      <div class="form-group col-md-6">
        <label>Email</label>
        <span class="form-control">@request.RequestedFor.Email</span>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label>Department</label>
        <span class="form-control">@request.RequestedFor.Department</span>
      </div>
      <div class="form-group col-md-6">
        <label>Service</label>
        <span class="form-control">@request.RequestedFor.Service</span>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label>Address</label>
        <span class="form-control">@request.RequestedFor.Address</span>
      </div>
      <div class="form-group col-md-6">
        <label>City</label>
        <span class="form-control">@request.RequestedFor.City</span>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label>State</label>
        <span class="form-control">@request.RequestedFor.State</span>
      </div>
      <div class="form-group col-md-6">
        <label>Zip Code</label>
        <span class="form-control">@request.RequestedFor.Zip</span>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label>Phone</label>
        <span class="form-control">@request.RequestedFor.Phone</span>
      </div>
      <div class="form-group col-md-6">
        <label>Cell Phone</label>
        <span class="form-control">@request.RequestedFor.CellPhone</span>
      </div>
    </div>
  </div>
</div>
