@model ICollection<Location>
@{
  ViewData["Title"] = "Locations";
  var isAllowed = (bool)ViewData["Admin"];
}
@section StyleSheets{
  <link rel="stylesheet" href="~/lib/bootstrap-table/bootstrap-table.min.css">
}
@section Scripts{
  <script src="~/lib/core-js/core.min.js"></script>
  <script src="~/lib/bootstrap-table/bootstrap-table.min.js"></script>
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Locations</li>
  </ol>
</nav>
@if (isAllowed)
{
  <p><a asp-action="AddLocation" class="btn btn-primary float-right">Add Location</a></p>
}

<table data-toggle="table" data-pagination="true" data-page-size="25" data-search="true" data-search-align="left">
  <thead>
    <tr>
      <th>Name</th>
      <th class="d-none d-lg-table-cell">Address</th>
      <th class="d-none d-md-table-cell" data-sortable="true">City</th>
      <th class="d-none d-md-table-cell">State</th>
      <th class="d-none d-md-table-cell" data-sortable="true">Zip</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var location in Model)
    {
      <tr>
        <td>
          <a asp-action="ViewLocation" asp-route-id="@location.LocationId">@location.Name</a>
        </td>
        <td class="d-none d-lg-table-cell">@location.Address</td>
        <td class="d-none d-md-table-cell">@location.City</td>
        <td class="d-none d-md-table-cell">@location.State</td>
        <td class="d-none d-md-table-cell">@location.Zip</td>
        <td>
          <a asp-action="EditLocation" asp-route-id="@location.LocationId" class="btn btn-primary">
            <i class="fas fa-edit"></i>
            <span class="d-none d-sm-inline">Edit</span>
          </a>
        </td>
      </tr>
    }
  </tbody>
</table>
