@model Request

<div class="card">
  <div class="card-header">Unit / Job Function</div>
  <div class="card-body">
    @if (Model.RequestType.DisplayCode == "Transfer")
    {
      <div class="row">
        <div class="form-group col-md-6">
          <label>Transfer From Bureau</label>
          <span class="form-control">@Model.TransferredFromUnit.Bureau.Description</span>
        </div>
        <div class="form-group col-md-6">
          <label>Transfer From Unit</label>
          <span class="form-control">
            <a asp-controller="Unit" asp-action="Units"
               asp-route-id="@Model.TransferredFromUnitId">@Model.TransferredFromUnit.Name</a>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label>Transfer To Bureau</label>
            <span class="form-control">@Model.RequestedFor.Unit.Bureau.Description</span>
          </div>
          <div class="form-group col-md-6">
            <label>Transfer To Unit</label>
            <span class="form-control">
              <a asp-controller="Unit" asp-action="Units"
                 asp-route-id="@Model.RequestedFor.Unit.UnitId">@Model.RequestedFor.Unit.Name</a>
              </span>
            </div>
          </div>
        }
        else
        {
          <div class="row">
            <div class="form-group col-md-6">
              <label>Bureau</label>
              <span class="form-control">@Model.RequestedFor.Unit.Bureau.Description</span>
            </div>
            <div class="form-group col-md-6">
              <label>Unit / Job Function</label>
              <span class="form-control">
                <a asp-controller="Unit" asp-action="Units"
                   asp-route-id="@Model.RequestedFor.Unit.UnitId">@Model.RequestedFor.Unit.Name</a>
                </span>
              </div>
            </div>
          }
  </div>
</div>
